## Problem Statement

Predict a full year worth of sales for three items at three different countries. The data runs from 01/01/2015 to 31/12/2018. There is one dependent variable: Sales amount. The others variables are: Dates, Country, Store, Product.

## Exploratory Data Analysis

### Outcomes:
The following questions needed answer:
1. Are there presence seasonality in our dataset?
2. Are the sales affected by Country?
3. Are the sales affected by Product?
4. Are the sales affected by Store?

### Our Sales as a whole

In [1]:
#Importing data and neccessary library:
import numpy as np
import pandas as pd

from matplotlib import pyplot
import seaborn as sns

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [4]:
train.describe()

             row_id      num_sold
count  26298.000000  26298.000000
mean   13148.500000    387.533577
std     7591.723026    266.076193
min        0.000000     70.000000
25%     6574.250000    190.000000
50%    13148.500000    315.000000
75%    19722.750000    510.000000
max    26297.000000   2884.000000

In [ ]:
#Daily Sales

In [ ]:
#Daily Sales by year

In [ ]:
#Sales by Country

In [ ]:
#Sales by Store

In [ ]:
#Sales by Product

## Data Preparation

## Model Building

## Evaluation